<html lang="en">
<head>
</head>
<body id="page-top" class="index">

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Welcome To</div>
                <div class="intro-heading">Sales Buddy</div>
                @*<a href="#services" class="page-scroll btn btn-xl">Tell Me More</a>*@
            </div>
        </div>
    </header>


</body>
</html>